@import '../../variable.less';

.@{prefix}-radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .box-sizing();
  .box();

  &:hover {
    .@{prefix}-radio-control {
      &::before {
        border-color: @radio-check-border-color;
      }
    }
  }
}

.@{prefix}-radio-native-control {
  font-size: 0;
  opacity: 0.0001;
  appearance: none;
  outline: none;
  cursor: pointer;
  .overlay();
  .box-sizing();
  .box();

  &:checked {
    & + .@{prefix}-radio-control {
      &::before {
        border-color: @radio-check-border-color;
      }
      &::after {
        transform: scale(1);
      }
    }
  }
}

.@{prefix}-radio-control {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &::before {
    content: '';
    display: block;
    border-width: @radio-border-width;
    border-style: @radio-border-style;
    border-color: @radio-uncheck-border-color;
    border-radius: 50%;
    .transition();
    .square(@radio-control-size);
    .box-sizing();
  }

  &::after {
    content: '';
    position: absolute;
    top: @radio-checker-top;
    left: @radio-checker-left;
    background-color: @radio-checker-color;
    border-radius: 50%;
    transform: scale(0);
    .transition(@duration: 200ms; @delay: 100ms);
    .square(@radio-checker-size);
  }
}

.@{prefix}-radio-text {
  position: relative;
  color: @radio-text-color;
  font-size: @radio-text-font-size;
  padding-left: @radio-text-gutter;
  vertical-align: middle;
}

.@{prefix}-radio-disabled {
  opacity: 0.35;
  pointer-events: none;
  cursor: not-allowed;
}
