{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true,
    "__DEMOS__": true,
    "__ICONS__": true
  },
  "plugins": ["prettier", "react", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "modules": true,
      "jsx": true
    }
  },
  "rules": {
    "no-console": 0,
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error"
  },
  "settings": {
    "react": {
      "version": "16.7"
    }
  }
}
