{
  "linters": {
    "*.{js,ts,jsx,tsx}": [
      "eslint --cache --quiet --fix",
      "prettier --write",
      "git add"
    ],
    "*.{css,less}": [
      "stylelint --syntax less --fix",
      "prettier --write",
      "git add"
    ],
    "*.{json,yml,yaml,md,mdx}": ["prettier --write", "git add"]
  },
  "ignore": []
}
