@import '../../variable.less';

.@{prefix}-menu-item-group {
  & > .title {
    padding: @menu-group-padding;
    color: @menu-group-color;
    font-size: @menu-group-font-size;
    .text-overflow();
    & > .@{prefix}-icon + span,
    & > span + .@{prefix}-icon {
      margin-left: @menu-icon-space;
    }
  }

  &:first-child {
    & > .title {
      padding-top: 0;
    }
  }

  & > .list {
    list-style: none;
    .box();
    .box-sizing();

    & > .@{prefix}-menu-item,
    & > .@{prefix}-menu-divider {
      margin-left: 1em;
    }
  }
}
