// Border variables
@border-color-base: lighten(@normal-color, 10%); // #d9d9d9
@border-color-light: lighten(@border-color-base, 8%); // #ededed
@border-color-dark: @normal-color; // #bfbfbf grey
@border-color-active: @primary-color; // #1890ff blue
@border-color-disabled: @border-color-base; // #d9d9d9

@border-width-base: 1px;
@border-style-base: solid;
@border-radius-base: 4px;
@border-radius-sm: @border-radius-base - 1px;
@border-radius-lg: @border-radius-base + 2px;
