// Calendar component variables
@calendar-width: 280px;
@calendar-body-height: 260px;

@calendar-color: @text-color-dark-secondary;
@calendar-font-size: @font-size-base;
@calendar-background-color: @background-color-base;

@calendar-header-padding: 0 10px;
@calendar-body-padding: 8px 0;
@calendar-footer-padding: 8px 0;

@calendar-header-height: 42px;
@calendar-header-btn-color: @text-color-dark-tertiary;
@calendar-header-btn-font-size: @font-size-lg;
@calendar-header-text-padding: 0 5px;

@calendar-footer-border-color: @border-color-light;

@calendar-cell-height: 36px;
@calendar-cell-font-size: @font-size-sm;
@calendar-cell-color: @text-color-dark-secondary;
@calendar-cell-color-dark: @text-color-dark-disabled;
@calendar-cell-color-disabled: @text-color-dark-disabled;
@calendar-cell-color-active: @text-color-light-base;
@calendar-cell-background-color-active: @primary-color;
@calendar-cell-background-color-hover: lighten(
  @calendar-cell-background-color-active,
  38%
);
@calendar-cell-background-color-disabled: @background-color-disabled;
@calendar-cell-border-radius: 2px;

@calendar-today-color: @primary-color;
@calendar-today-border-color: @primary-color;

@calendar-week-padding: 5px 0;

@calendar-week-number-width: 28px;
@calendar-week-number-color: @text-color-dark-disabled;
