// Checkbox component variables
@checkbox-font-size: @font-size-base;

@checkbox-default-color: @text-color-dark-primary;
@checkbox-disabled-color: @text-color-dark-disabled;

@checkbox-default-check-color: @white-color;
@checkbox-disabled-check-color: fade(@black-color, 25%);

@checkbox-border-radius: 2px;
@checkbox-border-width: @border-width-base;
@checkbox-border-style: @border-style-base;

@checkbox-default-uncheck-border-color: @primary-color;
@checkbox-default-uncheck-background-color: transparent;

@checkbox-default-check-border-color: @checkbox-default-uncheck-border-color;
@checkbox-default-check-background-color: @checkbox-default-check-border-color;

@checkbox-disabled-uncheck-border-color: @border-color-disabled;
@checkbox-disabled-uncheck-background-color: @background-color-disabled;

@checkbox-disabled-check-border-color: @checkbox-disabled-uncheck-border-color;
@checkbox-disabled-check-background-color: @checkbox-disabled-uncheck-background-color;

@checkbox-middle-space: 6px;
