// Color variables
@normal-color: #bfbfbf; // grey
@primary-color: #1890ff; // blue
@success-color: #52c41a; // green
@warning-color: #fadb14; // yellow
@error-color: #f5222d; // red
@info-color: #2f54eb; // geek blue
@light-color: #f8f9fa; // lightness white
@dark-color: #343a40; // darken black
@white-color: #fff; // white
@black-color: #000; // black

// Background variables
@background-color-base: @white-color; // #fff
@background-color-disabled: darken(@background-color-base, 4%); // #f5f5f5

// Border variables
@border-color-base: @normal-color; // #bfbfbf
@border-color-disabled: lighten(@normal-color, 10%); // #d9d9d9
@border-width-base: 1px;
@border-style-base: solid;
@border-radius-base: 4px;
@border-radius-sm: @border-radius-base - 2px;
@border-radius-lg: @border-radius-base + 2px;

// Outline variables
@outline-color: @primary-color; // #1890ff
@outline-width: 2px;
@outline-blur: 0;

// Text variables
@text-color-dark-base: @black-color; // #000
@text-color-light-base: @white-color; // #fff
@text-color-dark-primary: fade(@text-color-dark-base, 85%);
@text-color-dark-secondary: fade(@text-color-dark-base, 65%);
@text-color-dark-tertiary: fade(@text-color-dark-base, 45%);
@text-color-dark-disabled: fade(@text-color-dark-base, 25%);
@text-color-light-primary: fade(@text-color-light-base, 100%);
@text-color-light-secondary: fade(@text-color-light-base, 85%);
@text-color-light-tertiary: fade(@text-color-light-base, 65%);
@text-color-light-disabled: fade(@text-color-light-base, 45%);

// Font variables
@font-family: 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica,
  Arial, sans-serif;
@font-size-base: 14px;
@font-size-sm: @font-size-base - 2px; // 12px
@font-size-lg: @font-size-base + 2px; // 16px
@font-size-h1: @font-size-lg * 2.5; // 40px
@font-size-h2: @font-size-lg * 2; // 32px
@font-size-h3: @font-size-lg * 1.75; // 28px
@font-size-h4: @font-size-lg * 1.5; // 24px
@font-size-h5: @font-size-lg * 1.25; // 20px
@font-size-h6: @font-size-lg; // 16px

// LineHeight variables
@line-height-base: 1.5;

// Shadow variables
@box-shadow: 0 8px 16px rgba(@black-color, 0.15);

// Link variables
@link-color: @primary-color; // #1890ff
@link-color-hover: lighten(@link-color, 8%); // #41a4ff
@link-color-active: darken(@link-color, 3%); // #0989ff
@link-decoration: none;
@link-decoration-hover: none;

// ZIndex variables, z-index order list
@zindex-modal: 1000;
@zindex-modal-mask: @zindex-modal - 1;
@zindex-toast: @zindex-modal + 10;
@zindex-notification: @zindex-toast + 10;
@zindex-popover: @zindex-notification + 10;
@zindex-dropdown: @zindex-popover + 10;
@zindex-picker: @zindex-dropdown + 10;
@zindex-tooltip: @zindex-picker + 10;

// Layout variables

// Button component variables
@btn-padding-base: 0 15px;
@btn-padding-sm: 0 7px;
@btn-padding-lg: 0 15px;

@btn-height-base: 32px;
@btn-height-sm: 24px;
@btn-height-lg: 40px;

@btn-font-weight: 400;
@btn-font-size-base: @font-size-base;
@btn-font-size-sm: @font-size-sm;
@btn-font-size-lg: @font-size-lg;

@btn-border-radius-base: @border-radius-base;
@btn-border-radius-sm: @border-radius-sm;
@btn-border-radius-lg: @border-radius-lg;

@btn-default-color: @text-color-dark-primary;
@btn-default-background-color: @background-color-base;
@btn-default-border-width: @border-width-base;
@btn-default-border-style: @border-style-base;
@btn-default-border-color: @border-color-base;

@btn-primary-color: @text-color-light-base;
@btn-primary-background-color: @primary-color;
@btn-primary-border-color: @btn-primary-background-color;

@btn-success-color: @text-color-light-base;
@btn-success-background-color: @success-color;
@btn-success-border-color: @btn-success-background-color;

@btn-warning-color: @text-color-light-base;
@btn-warning-background-color: @warning-color;
@btn-warning-border-color: @btn-warning-background-color;

@btn-danger-color: @text-color-light-base;
@btn-danger-background-color: @error-color;
@btn-danger-border-color: @btn-danger-background-color;

@btn-text-color: @text-color-dark-primary;

@btn-link-color: @link-color;
@btn-link-color-hover: @link-color-hover;
@btn-link-color-active: @link-color-active;
@btn-link-decoration: @link-decoration;
@btn-link-decoration-hover: underline;

@btn-disabled-color: @text-color-dark-disabled;
@btn-disabled-background-color: @background-color-disabled;
@btn-disabled-border-color: @border-color-disabled;

@btn-decoration: @link-decoration;
@btn-decoration-hover: @link-decoration-hover;

@btn-outline: 0;
@btn-outline-hover: @btn-outline;

@btn-hover-opacity: 0.75;

@btn-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);

@btn-icon-gap: 6px;

// Icon component variables
@icon-spin-duration: 1s;

// Checkbox component variables
@checkbox-font-size: @font-size-base;

@checkbox-default-color: @text-color-dark-primary;
@checkbox-disabled-color: @text-color-dark-disabled;

@checkbox-default-check-color: @white-color;
@checkbox-disabled-check-color: fade(@black-color, 25%);

@checkbox-border-radius: 2px;
@checkbox-border-width: @border-width-base;
@checkbox-border-style: @border-style-base;

@checkbox-default-uncheck-border-color: @primary-color;
@checkbox-default-uncheck-background-color: transparent;

@checkbox-default-check-border-color: @checkbox-default-uncheck-border-color;
@checkbox-default-check-background-color: @checkbox-default-check-border-color;

@checkbox-disabled-uncheck-border-color: @border-color-disabled;
@checkbox-disabled-uncheck-background-color: @background-color-disabled;

@checkbox-disabled-check-border-color: @checkbox-disabled-uncheck-border-color;
@checkbox-disabled-check-background-color: @checkbox-disabled-uncheck-background-color;

@checkbox-middle-gap: 6px;

// Loading component variables
@loading-mask-color: fade(@white-color, 90%);
@loading-global-zindex: @zindex-modal + 900;
@loading-color: @primary-color;

@loading-font-size-base: @font-size-base;
@loading-font-size-sm: @font-size-sm;
@loading-font-size-lg: @font-size-lg;

@loading-icon-font-size-base: @loading-font-size-base * 1.5;
@loading-icon-font-size-sm: @loading-font-size-sm * 1.5;
@loading-icon-font-size-lg: @loading-font-size-lg * 1.5;

@loading-tip-gap-base: 6px;
@loading-tip-gap-sm: @loading-tip-gap-base - 2px;
@loading-tip-gap-lg: @loading-tip-gap-base + 2px;

// Tooltip component variables
@tooltip-background-color: fade(@black-color, 80%);
@tooltip-color: @white-color;
@tooltip-font-size: @font-size-base;
@tooltip-border-radius: @border-radius-base;
@tooltip-padding: 6px 10px;
@tooltip-arrow-size: 5px;

// Input component variables
@input-placeholder-color: #999;
