body {
  margin: auto;
  width: 960px;
  padding: 40px 0;
  background-color: #f6f6f6;
}

.demo-box {
  margin-bottom: 20px;
  padding: 36px;
  padding-bottom: 26px;
  background-color: #fff;
}

.demo-block {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}

.demo-box > .mgt-icon,
.demo-block > .mgt-icon,
.demo-box > .mgt-btn,
.demo-block > .mgt-btn,
.demo-box > .mgt-btn-group,
.demo-block > .mgt-btn-group {
  margin-right: 8px;
  margin-bottom: 10px;
}

.demo-tip {
  font-size: 12px;
  color: #bfbfbf;
}

.demo-goback {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px;
}
