@import '../../variable.less';

.@{prefix}-tooltip {
  .box();
  .box-sizing();
  .arrow(@tooltip-background-color; @tooltip-arrow-size);

  padding: @tooltip-padding;
  background-color: @tooltip-background-color;
  border-radius: @tooltip-border-radius;
  z-index: @zindex-tooltip;
  color: @tooltip-color;
  font-size: @tooltip-font-size;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  white-space: nowrap;
}
